.core-clear, %core-clear{
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 100% !important;
}

// -------------STYLEGUIDE DESCRIPTION------------

/*
# core-clear
Used to clear an element
*/

/*
### .core-clear
This is a description
    <div class="core-clear">
    	Clear
    </div>
*/

/*
## Elements __
There is currently no elements associated with this object
*/

/*
## Modifiers --
There is currently no modifiers associated with this object
*/

