.object-navList, %object-navList{
	list-style: none;
	margin-left: 0;
	li{
		display: inline;
	}
	a{
		display: inline-block;
	}
}

.object-navList--breadcrumb, %object-navList--breadcrumb{
	@extend %object-navList;	
	li{		
		&:before{
			content: ">> ";
		}
		&:first-child{
			&:before{
				content: "";
			}
		}
	}	
}

.object-navList__list, %object-navList__list{
	.object-navList &, %object-navList &{
		color: orange;
	}
}

// -------------STYLEGUIDE DESCRIPTION------------

/*
# object-navList
List objects used primarily for navigational styling
*/

/*
### .object-navList
This is a description

    <ul class="object-navList">
    	<li>link1</li>
    	<li>link2</li>
    	<li>link3</li>
    </ul>
*/

/*
## Elements __
*/

/*
### __list
This is a description	

    <ul class="object-navList">
    	<li class="object-navList__list">link1</li>
    	<li class="object-navList__list">link2</li>
    	<li class="object-navList__list">link3</li>
    </ul>

*/

/*
## Modifiers --
*/

/*
### --breadcrumb
Adds >> through :before content, and removes >> on the first li element


    <ul class="object-navList--breadcrumb">
    	<li>link1</li>
    	<li>link2</li>
    	<li>link3</li>
    </ul>

*/