%core-horizontal-list{
	list-style: none;
	margin-left: 0;
	li{
		display: inline;
	}
	a{
		display: inline-block;
	}
}

.core-navList--breadcrumb, %core-navList--breadcrumb{
	@extend %core-navList;	
	li{		
		&:before{
			content: ">> ";
		}
		&:first-child{
			&:before{
				content: "";
			}
		}
	}	
}

.core-navList__list, %core-navList__list{
	.core-navList &, %core-navList &{
		color: orange;
	}
}

// -------------STYLEGUIDE DESCRIPTION------------

/*
# core-navList
List objects used primarily for navigational styling
*/

/*
### .core-navList
This is a description

    <ul class="core-navList">
    	<li>link1</li>
    	<li>link2</li>
    	<li>link3</li>
    </ul>
*/

/*
## Elements __
*/

/*
### __list
This is a description	

    <ul class="core-navList">
    	<li class="core-navList__list">link1</li>
    	<li class="core-navList__list">link2</li>
    	<li class="core-navList__list">link3</li>
    </ul>

*/

/*
## Modifiers --
*/

/*
### --breadcrumb
Adds >> through :before content, and removes >> on the first li element


    <ul class="core-navList--breadcrumb">
    	<li>link1</li>
    	<li>link2</li>
    	<li>link3</li>
    </ul>

*/