/* Clearfix
-------------------------------------------*/
// body { @extend %clearfix; }
//-------------------------------------------

%clearfix {
	*zoom: 1;
	&:before, &:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


/*Global classes/style that's use sitewide Example:
-------------------------------------------*/
*{
	@include box-sizing(border-box);
}
html {
	overflow-x: hidden;
}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	-webkit-text-size-adjust: none; //don't resize on orientation mobile
	background: #272822;
	font-family: $basefont;
	color: $font;
}

.wrapper{
	@extend %clearfix;
	margin: 0 auto;
	max-width: $wrapper-max-width;
	min-height: 0;
	width: 100%;
}
.clear {
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 100% !important;
}

// mobile class, for hidding stuff on desktop, but show on mobile
.mobile{
	display: none;
}
@include media(mobileH){
	.mobile{
		display: block;
	}	
}