// Your font is under resources/fonts
@font-face {
	font-family: 'icomoon';
	src:url('../../icons/icomoon.eot');
	src:url('../../icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../icons/icomoon.svg#icomoon') format('svg'),
		url('../../icons/icomoon.woff') format('woff'),
		url('../../icons/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//General for all icon fonts
%icon{
	font-style: normal;
	font-family: 'icomoon';
	font-weight: normal;
	line-height: 1;
	position: relative;
	speak: none;
	text-decoration: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}



//THE REST IS EXAMPLE CODE
// Example of arrow font which is white


%example{
	@extend %icon;	
	font-size: 16px;	
	content: "a";
}

//How to use
//--------------------------------
// .example{
// 		position: relative;
// 		&:before{
// 			@extend %icon;
// 		}
// }