// Media queries 
//-------------------------------------------
// Example
// body { 
//   @include media(mobile) { background: red;}
// }
//-------------------------------------------

@mixin media($point) {
  @if $point == desktop {
    @media screen and (min-width: $desktop) { @content; }
  }
  @if $point == tabletH {
    @media screen and (min-width: $tabletH)  { @content; }
  }
  @if $point == tabletV {
    @media screen and (max-width: $tabletV)  { @content; }
  }
  @else if $point == mobileH {
    @media screen and (max-width: $mobileH)  { @content; }
  }
  @else if $point == mobileV {
    @media screen and (max-width: $mobileV)  { @content; }
  }
}


// Used for help under development
// body .content{
//   @include media(desktop) { background: orange !important; }
//   @include media(tabletH) { background: #000 !important; }
//   @include media(tabletV) { background: red !important;    }
//   @include media(mobileH) { background: yellow !important;    }
//   @include media(mobileV) { background: purple !important; }
// }