

@mixin font($fontSize, $lineHeight, $basicFontSize: $basicFontSize) {
  font-size: ($fontSize/$basicFontSize)+em;
  @if($lineHeight == normal){
  	line-height: $lineHeight;
  }
  @else{
  	line-height: ($lineHeight/$fontSize)+em;	
  }
}