/* Compass variables
------------------------------*/
$legacy-support-for-ie6: 		false; //IE6 + 7
$legacy-support-for-ie7: 		false; // Set to true, if you want IE7 support
$legacy-support-for-ie8: 		true; //IE 8
$legacy-support-for-mozilla: 	false; //Mozilla 3.6 and below
$experimental-support-for-svg: 	true; //IE9 is using this for gradients
$experimental-support-for-pie: 	false; //PIE framework


/* Compass
------------------------------*/
@import "compass";
@import "compass/css3";
@import "compass/layout/sticky-footer";


/* Core Variables
------------------------------*/
@import "core/variables";


/* Core
------------------------------*/
@import "core";


/* Grid
------------------------------*/
@import "grid"; //Semantic


/* Global
------------------------------*/
@import "global";


/* Modules
------------------------------*/
@import "modules";