/* Compass variables
------------------------------*/
$legacy-support-for-ie6: 		false; //IE6 + 7
$legacy-support-for-ie7: 		false;
$legacy-support-for-ie8: 		true; //IE 8
$legacy-support-for-mozilla: 	false; //Mozilla 3.6 and below
$experimental-support-for-svg: 	true; //IE9 is using this for gradients
$experimental-support-for-pie: 	false; //PIE framework


/* Compass
------------------------------*/
@import "compass";
@import "compass/css3";
@import "compass/layout/sticky-footer";


/* Core Variables
------------------------------*/
@import "core/variables"; //Must come before bootstrap in order to overwrite its default variables.


/* Bootstrap
------------------------------*/
$bootstrap-grid: false; //Set to true to enable bootstraps grid. Remember to remove other grid frameworks.
@import "bootstrap";


/* Semantic
------------------------------*/
$column-width: 	60px;
$gutter-width: 	20px;
$columns: 		12;
$liquid-grid: 	true; //True == % || False == px
$grid-color: 	true; //Used to display colors in the boilerplate markup.
@import "semantic/grid"; //Semantic


/* Core
------------------------------*/
@import "core";


/* Modules
------------------------------*/
@import "modules";
