//COMPASS VARIABLES
$legacy-support-for-ie6: 		false; 	//IE6 + 7
$legacy-support-for-ie7: 		false; 	// Set to true, if you want IE7 support
$legacy-support-for-ie8: 		true; 	//IE 8
$legacy-support-for-mozilla: 	false; 	//Mozilla 3.6 and below
$experimental-support-for-svg: 	true; 	//IE9 is using this for gradients
$experimental-support-for-pie: 	false; 	//PIE framework


//COMPASS
@import "compass";
@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/layout/sticky-footer";


//VARIABLES
@import "global/variables";


//CORE
@import "core";


//GRID
@import "grid"; //Semantic grid


//GLOBAL
@import "global";


//MODULES
@import "modules";


//PRINT
@import "print";


//Help - Delete-able
@import "help";