/*------------------------------------*\
    WEBFONTS IMPORTS
\*------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Mouse+Memoirs);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,700,400);



/*------------------------------------*\
    FONT VARIABLES
\*------------------------------------*/
$basicFontSize: 16;
$headingfont: 'Mouse Memoirs', sans-serif;
$basefont: 'Open Sans', sans-serif;



/*------------------------------------*\
    SILENT FONT CLASSES
\*------------------------------------*/
%lightFont{
	font-family: $basefont;
	font-weight: 300;
}
%regularFont{
	font-family: $basefont;
	font-weight: 400;
}
%semiboldFont{
	font-family: $basefont;
	font-weight: 600;
}
%boldFont{
	font-family: $basefont;
	font-weight: 700;
}