// Project colors
$bodyBgColor: #fff;

//Media Queries
$desktop: 1200px;
$tabletH: 1024px;
$tabletV: 1023px;
$mobileH: 767px;
$mobileV: 320px;

// Font colors
$fontColor: #272822; // Basic font color
$link: #008734; 
$linkHover: blue; 