/* Compass variables
------------------------------*/
/* Compass
------------------------------*/
/* Core Variables
------------------------------*/
/* Bootstrap
------------------------------*/
/* line 17, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Semantic
------------------------------*/
/* line 23, ../sass/semantic/_grid.scss */
html body {
  min-height: 100%;
}

/* line 35, ../sass/semantic/_grid.scss */
body {
  width: 100%;
}

/* Core
------------------------------*/
/* Clearfix
-------------------------------------------*/
/* line 6, ../sass/core/_globals.scss */
body, .wrapper, section {
  *zoom: 1;
}
/* line 8, ../sass/core/_globals.scss */
body:before, .wrapper:before, section:before, body:after, .wrapper:after, section:after {
  content: "";
  display: table;
}
/* line 12, ../sass/core/_globals.scss */
body:after, .wrapper:after, section:after {
  clear: both;
}

/*Global classes/style that's use sitewide Example:
-------------------------------------------*/
/* line 20, ../sass/core/_globals.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/core/_globals.scss */
html {
  overflow-x: hidden;
}

/* line 26, ../sass/core/_globals.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 31, ../sass/core/_globals.scss */
body {
  background: #272822;
  font-family: "sans-serif", sans-serif;
  color: #fd971f;
}

/* line 37, ../sass/core/_globals.scss */
.wrapper, section {
  margin: 0 auto;
  max-width: 1020px;
  min-height: 0;
  width: 100%;
}

/* line 44, ../sass/core/_globals.scss */
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  width: 100% !important;
}

/* line 54, ../sass/core/_globals.scss */
.mobile {
  display: none;
}

@media screen and (max-width: 568px) {
  /* line 58, ../sass/core/_globals.scss */
  .mobile {
    display: block;
  }
}
/* line 10, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 54px;
}

/* line 20, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 54px;
}

/* line 58, my-icons/*.png */
.my-icons-sprite, .my-icons-contact {
  background: url('../images/my-icons-s41351c2263.png') no-repeat;
}

/* line 60, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-contact {
  background-position: 0 -30px;
}
/* line 43, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-contact:hover, .my-icons-contact.contact_hover, .my-icons-contact.contact-hover {
  background-position: 0 -15px;
}
/* line 43, ../../../../../../../Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-contact:active, .my-icons-contact.contact_active, .my-icons-contact.contact-active {
  background-position: 0 0;
}

/* line 3, ../sass/core/_example-grid.scss */
.g12 {
  display: inline;
  float: left;
  width: 97.9166666666667%;
  margin: 0 1.04166666666667%;
  background-color: cyan;
}

/* line 10, ../sass/core/_example-grid.scss */
.g11 {
  display: inline;
  float: left;
  width: 89.5833333333333%;
  margin: 0 1.04166666666667%;
  background-color: blue;
}

/* line 17, ../sass/core/_example-grid.scss */
.g10 {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166666666667%;
  background-color: orange;
}

/* line 24, ../sass/core/_example-grid.scss */
.g9 {
  display: inline;
  float: left;
  width: 72.9166666666667%;
  margin: 0 1.04166666666667%;
  background-color: purple;
}

/* line 31, ../sass/core/_example-grid.scss */
.g8 {
  display: inline;
  float: left;
  width: 64.5833333333333%;
  margin: 0 1.04166666666667%;
  background-color: green;
}

/* line 38, ../sass/core/_example-grid.scss */
.g7 {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04166666666667%;
  background-color: black;
}

/* line 45, ../sass/core/_example-grid.scss */
.g6 {
  display: inline;
  float: left;
  width: 47.9166666666667%;
  margin: 0 1.04166666666667%;
  background-color: gold;
}

/* line 52, ../sass/core/_example-grid.scss */
.g5 {
  display: inline;
  float: left;
  width: 39.5833333333333%;
  margin: 0 1.04166666666667%;
  background-color: pink;
}

/* line 59, ../sass/core/_example-grid.scss */
.g4 {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166666666667%;
  background-color: brown;
}

/* line 65, ../sass/core/_example-grid.scss */
.g3 {
  display: inline;
  float: left;
  width: 22.9166666666667%;
  margin: 0 1.04166666666667%;
  background-color: silver;
}

/* line 72, ../sass/core/_example-grid.scss */
.g2 {
  display: inline;
  float: left;
  width: 14.5833333333333%;
  margin: 0 1.04166666666667%;
  background-color: red;
}

/* Modules
------------------------------*/
/* line 4, ../sass/modules/_sections.scss */
section > div {
  display: inline;
  float: left;
  width: 97.9166666666667%;
  margin: 0 1.04166666666667%;
}
