@mixin normalize-forms {
  // Define consistent border, margin, and padding.
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  legend {
    // Correct color not being inherited in IE 8/9.
    border: 0;
    // Remove padding so people aren't caught out if they zero out fieldsets.
    padding: 0;
  }

  button,
  input,
  select,
  textarea {
    // Correct font family not being inherited in all browsers.
    font-family: inherit;
    // Correct font size not being inherited in all browsers.
    font-size: 100%;
    // Address margins set differently in Firefox 4+, Safari 5, and Chrome
    margin: 0;
  }

  // Address Firefox 4+ setting `line-height` on `input` using `!important` in
  // the UA stylesheet.
  button,
  input {
    line-height: normal;
  }

  // Address inconsistent `text-transform` inheritance for `button` and `select`.
  // All other form control elements do not inherit `text-transform` values.
  // Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
  // Correct `select` style inheritance in Firefox 4+ and Opera.
  button,
  select {
      text-transform: none;
  }

  // 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
  // 2. Correct inability to style clickable `input` types in iOS.
  // 3. Improve usability and consistency of cursor style between image-type `input` and others.
  button,
  html input[type="button"], // 1
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: none; // remove IOS default style
    cursor: pointer; // 3
  }

  // Re-set default cursor for disabled elements.
  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  input[type="checkbox"],
  input[type="radio"] {
    // Remove excess padding in IE 8/9.
    padding: 0;
  }

  input[type="search"] {
    // Address `appearance` set to `searchfield` in Safari 5 and Chrome.
    -webkit-appearance: textfield;
  }

  // Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  // Remove inner padding and border in Firefox 4+.
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  textarea {
    // Remove default vertical scrollbar in IE 8/9
    overflow: auto;

    // Improve readability and alignment in all browsers
    vertical-align: top;
  }

	input{
		&[type="text"], &[type="password"], &[type="email"], &[type="number"] {
			&:focus {
				outline: none;
			}
		}
	}
}
